* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
body {
  font: 1.62rem/1.62 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: top;
  -moz-box-align: top;
  -o-box-align: top;
  -ms-flex-align: top;
  -webkit-align-items: top;
  align-items: top;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
small {
  color: #888;
  font-size: 1.3rem;
}
label,
button,
input[type='checkbox'] {
  cursor: pointer;
}
[disabled] {
  pointer-events: none;
}
table {
  border-collapse: collapse;
}
table th,
table td {
  overflow: hidden;
  white-space: nowrap;
  padding: 0.155rem 0;
  margin: 0;
}
#content,
main {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 1rem 2rem;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}
header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
header table {
  font-size: 1.3rem;
}
header table td,
header table th {
  text-align: right;
  min-width: 8rem;
  padding: 0 0.62rem;
}
header table th {
  text-align: right;
  font-weight: normal;
  color: #888;
}
header table td:last-child {
  padding-right: 0;
}
h1 {
  line-height: 3.6rem;
  font-size: 2.6rem;
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
}
h1 i {
  font-size: 2rem;
  color: #888;
}
h1 > small {
  padding-left: 0.62rem;
  font-size: 2rem;
  color: #888;
}
input[type='number'] {
  display: inline-block;
  border: 1px solid #eee;
  width: 7rem;
  font-size: 1.3rem;
  color: text-muted;
  line-height: 1.62rem;
  height: 1.62rem;
  padding-top: 0;
  padding-bottom: 0;
}
input[type='number']:focus {
  color: #333;
}
article {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}
.graph {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 10rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: auto;
}
svg {
  height: 100%;
  width: 100%;
}
aside {
  padding: 0 1rem;
  overflow: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}
aside section:first-child {
  margin-bottom: 1rem;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
aside section:last-child {
  -ms-flex-line-pack: bottom;
  -webkit-align-content: bottom;
  align-content: bottom;
  padding: 0.62rem 1rem;
  padding-top: 1rem;
}
.hide {
  display: none;
}
[title] {
  border-bottom: 1px dashed #eee;
}
.apps-table tr.split {
  color: #888;
  cursor: pointer;
}
.apps-table tr.split > * {
  padding-top: 0.62rem;
}
.apps-table tr.split th {
  text-transform: uppercase;
}
.apps-table td {
  text-align: right;
  padding-right: 0.62rem;
}
.apps-table td:last-child {
  padding-right: 0;
}
.apps-table tbody th {
  text-align: left;
  font-weight: normal;
  padding-right: 0.62rem;
}
.apps-table tbody td:first-child {
  cursor: pointer;
}
.apps-table tbody td > div {
  font-size: 1rem;
  line-height: 1.3rem;
  display: block;
  color: #888;
}
.apps-table .name {
  padding-right: 0.62rem;
}
.apps-table tr.hidden {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.apps-table tr.system .name {
  font-style: italic;
}
.apps-table tr.dead .name {
  text-decoration: line-through;
}
.prefs {
  margin-top: 1rem;
}
.prefs label {
  display: block;
}
.prefs label small {
  display: inline-block;
  min-width: 10rem;
}
.buttons {
  text-align: left;
  vertical-align: middle;
}
.buttons .linklist {
  text-align: right;
  max-width: 7rem;
  white-space: normal;
}
.buttons label {
  display: block;
}
.linklist {
  font-size: 1.3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.linklist li {
  display: inline;
}
.linklist:not(:empty) {
  margin: 0.31rem 0 0;
}
.linklist a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}
.linklist li:not(:last-child):after {
  content: ', ';
  color: #888;
}
svg {
  outline: 1px solid #eee;
}
svg .tick text {
  font-size: 1rem;
  fill: #000;
  stroke: rgba(255,255,255,0.4);
}
svg .tick line {
  fill: none;
  stroke: rgba(0,0,0,0.1);
}
svg .xticks .tick line {
  stroke-dasharray: 5, 5;
}
@media (max-aspect-ratio: 4/3) {
  article {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  aside {
    padding-top: 1rem;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
  }
  aside section:first-child {
    margin-bottom: 0;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -o-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -o-box-flex: 0;
    box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    margin-right: 2rem;
  }
  aside section:last-child {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 0 0 2rem;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -o-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}
